/* Vendored variable fonts (latin subset). See fonts/README.md and the OFL-* files for licences. */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("inter-latin-wght-normal.woff2") format("woff2");
}

@font-face {
  font-family: "Source Serif 4";
  font-style: normal;
  font-weight: 200 900;
  font-display: swap;
  src: url("source-serif-4-latin-wght-normal.woff2") format("woff2");
}
